@model RecruitmentSystem.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h2>Candidate Registration</h2>
<hr />

<form asp-action="Register" method="post">
    <div class="mb-2">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Mobile</label>
        <input asp-for="Mobile" class="form-control" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-success mt-2">Register</button>
    <a asp-action="Login" class="btn btn-link">Already have account? Login</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
