@model RecruitmentSystem.ViewModels.ApplyJobVM

@{
    ViewData["Title"] = "Apply Job";
}

<h2>Apply Job</h2>
<hr />

<form asp-action="ApplyJob" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Upload Resume (PDF/DOC/DOCX)</label>
        <input asp-for="ResumeFile" type="file" class="form-control" />
        <span asp-validation-for="ResumeFile" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Submit Application</button>
    <a asp-action="Dashboard" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
